<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189888359543-62fvqudq68l7mn0b4hnkk9pu86l30m4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189888359543-62fvqudq68l7mn0b4hnkk9pu86l30m4a</string>
	<key>API_KEY</key>
	<string>AIzaSyChnh9B7G0xALBheuNaeor3-Qz1FNLCPGA</string>
	<key>GCM_SENDER_ID</key>
	<string>189888359543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elChat1</string>
	<key>PROJECT_ID</key>
	<string>elchat-2k19</string>
	<key>STORAGE_BUCKET</key>
	<string>elchat-2k19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189888359543:ios:a49e28f2d599d82e</string>
	<key>DATABASE_URL</key>
	<string>https://elchat-2k19.firebaseio.com</string>
</dict>
</plist>